html,
body {
  --uno: text-gray-7;

  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  overflow: overlay;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  --uno: bg-gray-3 rounded-xl;
}

div {
  box-sizing: border-box;
}
